# =========================
# GLOBAL / SYSTEM
# =========================
.DS_Store
.vscode/
.idea/
*.pem

# =========================
# FRONTEND (Next.js / Node)
# =========================
# dependencies
/frontend/node_modules
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================
# BACKEND (Python / FastAPI)
# =========================
# virtual environments (Very Important)
venv/
env/
.venv/

# python bytecode
__pycache__/
*.py[cod]
*$py.class

# distribution / builds
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# =========================
# ENVIRONMENT VARIABLES
# =========================
# Ignore all .env files in any folder to protect your secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env